@* @model IEnumerable<BasicMVC.Models.Student>

@{
    ViewBag.Title = "Abc";
} *@

<!-- <h2>Hey this is the Abc.cshtml page under Views/Xyz folder</h2> -->

@* @foreach (var item in Model)
{
    <h2>@item.firstName @item.lastName</h2>
} *@
